.envidentifier {
		font-weight: bold;
}

div.definition {
	font-type: normal;
}

div.definition p:first-child {
	display: inline;
}

div.example {
	font-type: normal;
}

div.example p:first-child {
	display: inline;
}

div.theorem {
	font-type: italic;
}

div.theorem p:first-child {
	display: inline;
}

div.proposition {
	font-type: italic;
}

div.proposition p:first-child {
	display: inline;
}

div.lemma {
	font-type: italic;
}

div.lemma p:first-child {
	display: inline;
}

div.corollary {
	font-type: italic;
}

div.corollary p:first-child {
	display: inline;
}
/*
We now set the sidebar. It is not static, i.e. it disappears when scrolling down.
This seems preferable since scrolling down can
get a bit laggy and generally distracts from the reading

The sidebar has a title (e.g. the book's title), chapters (given by h1's) and
sections (given by h2's)
*/

div.sidebar {
float: left;
width: 20%;/* make sure this is compatible with the margin-left at div.main*/
}

div.sidebar h1 {
background-color: #A6F9DD;
font-weight: bold;
display: block;
font-size: 100%;
}

/*block occupies an entire line*/

div.sidebar h2 {
background-color: #C4FCF2;
display: block;
font-size:90%;
margin-bottom: 0px;
margin-top: 0px;
}

div.sidebar h1.sidebar-title {
background-color: #AAD13E;
display: block;
font-size:180%;
margin-bottom: 0px;
margin-top: 0px;
}

/*
The main part of the document is a floating block right of the sidebar
*/

div.main{
margin-left: 20%;/* make sure this is compatible with the width of #sidebar*/
width: 60%;
padding: 10px;/* margin around <p>'s*/
text-align: justify;
}

ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
}
ol > li:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
}